html {
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $font-size-normal;
  background-color: $main-bg-color;
}

#app {
  height: 100%;
}

h1 {
  font-size: 44px;
  font-weight: $font-weight-bold;
  line-height: 1.2;
  text-transform: uppercase;
}

h2 {
  font-size: 32px;
  line-height: 1.14;
  font-weight: $font-weight-bold;
}

h3 {
  font-size: 20px;
  font-weight: $font-weight-bold;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: $font-size-xsmall;
  font-weight: $font-weight-bold;
  cursor: pointer;
}

section {
  padding: 0 62px;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after,
input[type=search] {
  box-sizing: inherit;
}
