// colors
$white: white;
$light-blue: rgba(#3187ff, 0.8);
$light-gray: #d4d4d4;
$super-light-gray: #f0f0f0;
$dark-gray: #5B5B5B;
$light-red: rgba(#EE0400, 0.5);



// fonts
$base-font-color: #2F2F2F;
$base-font-family: Helvetica, Arial, sans-serif;


$font-size-large: 28px;
$font-size-normal: 18px;
$font-size-small: 16px;
$font-size-xsmall: 14px;

$font-weight-normal: 400;
$font-weight-bold: 700;

// layouts
$modal-header: 45px;
$modal-footer: 45px;
$l-margin: 62px;
$header-height: 66px;

// app palette
$theme-base: $white;
$theme-color: $light-blue;
$theme-secondary: $light-gray;

// transitions
$ease-out-cubic: cubic-bezier(0.215, 0.610, 0.355, 1.000);

// breakpoints
$breakpoint-m: 880px;

