// Import global variables
@import '../../../styles/settings';

.c-nav-menu {
  display: none;
  align-items: center;
  cursor: pointer;
  background-color: lighten($theme-color, 7%);
  height: 32px;
  width: 100%;
  padding: 0 $l-margin;

  &.-opened {
    display: flex;
  }

  .nav-menu-links-wrapper {
    display: inline-flex;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
  }

  .nav-menu-links {
    white-space: nowrap;
    width: auto;

    > li {
      display: inline-block;
    }
  }

  .nav-menu-slide-enter, .nav-menu-slide-leave-to {
    transform: translateX(-100%);
  }

  .nav-menu-slide-enter-active, .nav-menu-slide-leave-active {
    transition: all 1s ease;
  }

}
