// Import global variables
@import '../../../styles/settings';

.c-header {
  display: flex;
  align-items: center;
  background-color: $theme-color;
  padding: 0 62px;
  flex: 1;
  justify-content: space-between;
  height: $header-height;

  .nav-section {
    display: flex;
    align-items: center;
    list-style: none;

    .nav-link {
      position: relative;
      margin-right: 20px;

      a {
        padding: 20px 0;
        display: block;
        color: $white;
        text-decoration: none;
      }

      &.-submenu {
        > a {
          margin-right: 20px;
        }

        &.-active {
          pointer-events: all;
        }

        &:hover:after,
        .nav-link:hover:after {
          width: 0;
        }

        &.-opened {
          > a {
            color: $theme-secondary;
          }
        }
      }

      &.-active {
        pointer-events: none;

        &:after {
          width: 22px;
        }
      }

      &:after {
        display: block;
        position: absolute;
        content: '';
        width: 0;
        height: 4px;
        background-color: $theme-secondary;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        transition: width .15s $ease-out-cubic;
      }

      &:hover {

        &:after {
          width: 22px;
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
