// Import global variables
@import '../../../styles/settings';

.c-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;

  .nav-section-container {
    display: flex;
    flex: 1;
    padding: 0 $l-margin;
    height: $header-height;
    width: 100%;
    background-color: $theme-color;

    .nav-section:last-child {
      margin-left: auto;
    }
  }

  .nav-section {
    display: flex;
    align-items: center;
    list-style: none;

    .nav-link {

      &:after {
        display: block;
        position: absolute;
        content: '';
        width: 0;
        height: 4px;
        background-color: $theme-secondary;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        transition: width .15s $ease-out-cubic;
      }

      &.-active {

        &:after {
          width: 22px;
        }
      }

      &:hover {

        &:after {
          width: 22px;
        }
      }
    }
  }

  .nav-link {
    position: relative;
    margin-right: 20px;

    a {
      padding: 20px 0;
      display: block;
      color: $white;
      text-decoration: none;
    }

    &:last-child {
      margin-right: 0;
    }

    &.-submenu-opened > a {
      color: darken($theme-color, 20%);
    }

    &.-submenu {
      padding: 0;

      &:hover > a,
      &.-active > a {
        color: darken($theme-color, 20%);
      }
    }
  }
}
