<nav class="c-header">
  <ul class="nav-section">
    <router-link class="nav-link" active-class="-active" tag="li" to="/" exact>
      <a>Home</a>
    </router-link>

    <router-link class="nav-link" active-class="-active" tag="li" to="/choose">
      <a>Choose</a>
    </router-link>

    <router-link class="nav-link" active-class="-active" tag="li" to="/assign">
      <a>Assign</a>
    </router-link>

    <nav-menu class="nav-link -submenu" title="Manage">
      <router-link class="nav-link" active-class="-active" tag="li" to="/professors">
        <a>Professors</a>
      </router-link>
      <router-link class="nav-link" active-class="-active" tag="li" to="/degrees">
        <a>Degrees</a>
      </router-link>
      <router-link class="nav-link" active-class="-active" tag="li" to="/courses">
        <a>Courses</a>
      </router-link>
      <router-link class="nav-link" active-class="-active" tag="li" to="/staff">
        <a>Staff</a>
      </router-link>
      <router-link class="nav-link" active-class="-active" tag="li" to="/categories">
        <a>Categories</a>
      </router-link>
      <router-link class="nav-link" active-class="-active" tag="li" to="/occupations">
        <a>Occupations</a>
      </router-link>
    </nav-menu>
  </ul>

  <ul class="nav-section">
    <router-link class="nav-link" active-class="-active" tag="li" to="/profile">
      <a>Profile</a>
    </router-link>
  </ul>
</nav>
