<div class="c-form">
  <section>
    <h2>{{heading}}</h2>
    <button @click="goBack()">Back</button>
    <vue-form-generator
      class="form-container"
      :schema="schema"
      :model="model"
      :options="formOptions"
      @validated="onValidated"
    ></vue-form-generator>
    <button v-if="action === 'new'" @click="syncFormModel">Save</button>
    <alert
      :class="['form-alert-container', {
      '-success': status,
      '-error': error,
      }]"
      :subtitle="(status && 'Updated Successfully') || (error && 'Error: Update Failed!')"
    ></alert>
  </section>
</div>
